     *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    border: 1px solid;
    padding: 10px;
    margin-top: 20px;
}

.foto{
    border: 2px solid;
    width: 230px;
    height: 230px;
    margin-bottom: 15px;

}

a{
    border: 2px solid;
    padding: 15px;
    border-color: black;
    color: blue;
    
}

div{
    border: 2px solid;
    display: inline-block;
    width: 100px;
    height: 100px;
}   

main{
    border: 2px solid;
    margin-left: 700px;
    margin-right: 700px;
 }

.primeiro{
    margin-bottom: 40px;
}

footer{
    margin: top 10px, right 20px, bottom 30px, left 40px;
    border: 2px solid;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
